@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
:root {
  --primary-color: hsl(252, 11%, 91%);
  --fs-sm: 1.125rem;
}
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #08070B;
  color: var(--primary-color);
  font-size: var(--fs-sm);
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 25rem;
  min-height: 39.5rem;
}
.password-placeholder{
  color: hsl(251, 9%, 53%);
  font-size: 1.8rem;
}
.password-character-length-header{
  display: flex;
   justify-content: space-between;
   align-items: center;
}
.password-length{
  color: hsl(127, 100%, 82%);
  font-size: 2rem;
}
input[type=range]{
  width: 100%;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

